@import 'tailwindcss';

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --color_button_box: #3b90f9;
  --font-size: 18px;
}
.nanum-gothic {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-wrap .citytext.active {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  background-color: #e7e7e7;
  border: 2px solid #368fff;
  color: var(--color_button_box);
}
